#* 菜单递归树 *#
#macro(menu $menus)
  #foreach($menu in $menus)
    #if($menu.children.size() == 0)
    <li><a href="$!menu.href"><i class="fa $menu.iconClass"></i> <span>$menu.name</span></a></li>
    #else
    <li class="treeview">
      <a href="$!menu.href"><i class="fa $menu.iconClass"></i> <span>$menu.name</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        #menu($menu.children)
      </ul>
    </li>
    #end
  #end
#end