<!doctype html>
<html lang="en">
#parse("/common/head.vm")
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    #parse("/common/header.vm")
    #parse("/common/sidebar.vm")
    #parse("/common/content.vm")
    #parse("/common/footer.vm")
  </div>

<script src="/common/js/common-init.js"></script>
</body>
</html>