<script>
  $(function(){
    $.ajax({
      url: '/demo/quartz/jobs',
      type: 'get',
      data: {
        'start': 0,
        'limit': 10
      },
      dataType: 'json',
      success: function (data, a, b) {
        if(data.count > 0){
          $.each(data.result, function(index, obj){
            var ele = '<a>' + obj.desc + '</a>';
            $('body').append(ele);
          });
        }
      }
    })
  });
</script>