<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用作标识mapper的唯一，通常包名+文件名 -->
<mapper namespace="com.cjt.dao.security.IMenuDAO">

    <select id="getById" resultType="com.cjt.entity.model.security.Menu">
        SELECT
            id,
            name,
            parent_id  AS parentId,
            href,
            icon_class AS iconClass,
            `order`
        FROM menu
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.cjt.entity.model.security.Menu"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu (`name`, `parent_id`, `href`, `icon_class`, `order`)
        VALUES (#{name}, #{parentId}, #{href}, #{iconClass}, #{order})
    </insert>

    <update id="updateById" parameterType="com.cjt.entity.model.security.Menu">
        UPDATE menu
        <trim prefix="SET" suffix="WHERE id = #{id}">
            `name` = #{name},
            `parent_id` = #{parentId},
            `href` = #{href},
            `icon_class` = #{iconClass},
            `order` = #{order}
        </trim>
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM menu
        WHERE `id` = #{id}
    </delete>

    <select id="listMenuByRoleIds" resultType="com.cjt.entity.model.security.Menu" parameterType="list">
        SELECT
        id,
        name,
        parent_id AS parentId,
        href,
        icon_class AS iconClass,
        `order`
        FROM menu
        <if test="list!=null">
            WHERE id IN
            (
            SELECT DISTINCT menu_id FROM role_menus
            WHERE role_id IN
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ORDER BY `order`
    </select>
</mapper>