<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- resource需要写成路径的形式 -->    
    <mappers>
        <mapper resource="userMapper.xml"/>
    </mappers>
</configuration>