<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- 视图模式配置,velocity配置文件-->
    <bean class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/vm"/>
        <property name="configLocation" value="classpath:properties/velocity.properties"/>
    </bean>

    <!-- 配置前后缀，解析编码（注意VelocityLayoutViewResolver的特性） -->
    <bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="layoutUrl" value="layout/default.vm"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".vm"/>
    </bean>
</beans>