<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

  <!-- 配置文件分环境读取（自定义加密） -->

  <beans profile="dev">
    <bean class="com.cjt.ssm.encrypt.GlobalPropertyConfigure">
      <property name="locations">
        <list>
          <value>classpath:properties/dev/**/*.properties</value>
        </list>
      </property>
      <property name="fileEncoding" value="UTF-8"/>
    </bean>
  </beans>

  <beans profile="pro">
    <bean class="com.cjt.ssm.encrypt.GlobalPropertyConfigure">
      <property name="locations">
        <list>
          <value>classpath:properties/pro/**/*.properties</value>
        </list>
      </property>
      <property name="fileEncoding" value="UTF-8"/>
    </bean>
  </beans>
</beans>