<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>LTE</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#">
            <span class="hidden-xs">曹建涛</span>
          </a>
        </li>
        <li class="user user-menu">
          <a href="#">
            <span class="hidden-xs">注销</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>