<h1>这里是登陆页面</h1>
<input type="text" id="username">
<input type="password" id="password">
<input type="checkbox" id="rememberMe">
<button onclick="login()">登录</button>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    function login() {
        $.ajax({
           url: '/session',
           type: 'post',
           data: {
               username: $('#username').val(),
               password: $('#password').val(),
               rememberMe: $('#rememberMe').is(':checked')
           },
           success: function (result){
               console.log(result);
           }
        });
    }
</script>