<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用作标识mapper的唯一，通常包名+文件名 -->
<mapper namespace="com.cjt.ssm.dao.QuartzDao">

  <select id="listJobs" resultType="com.cjt.ssm.quartz.ScheduleJob">
    SELECT
      `name`,
      `group`,
      cron_expre AS 'cronExpre',
      `desc`,
      `status`,
      deleted
    FROM quartz
    WHERE deleted = 0
  </select>

  <insert id="saveScheduleJob" parameterType="com.cjt.ssm.quartz.ScheduleJob">
    INSERT INTO quartz (
      `name`,
      `group`,
      cron_expre,
      `desc`
    )
    VALUES
      (
        #{name},
        #{group},
        #{cronExpre},
        #{desc}
      )
    <selectKey keyProperty="id" resultType="int">
      SELECT last_insert_id()
    </selectKey>
  </insert>
</mapper>